body{
    font-family: 'Inter', sans-serif;
    background-color:#D8D8D8;
}
h1 {
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 4em;
}
p {
    text-align: center;
    font-size: 2.5em;
}
div.choices
{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.computer-choice
{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#user-choice{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
img {
    height:150px;
    width:150px;
    margin: 0;
    padding:0;
    border-radius: 10%;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
img:hover
{
    transform: scale(1.1);
}

